<section class="planet-search">
  <div class="planet-search__wrapper">
    <form class="planet-search__form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput class="planet-search__input" type="text" name="planetName" placeholder="Find Planet"
          [(ngModel)]="planetName" #reference>
        <mat-error *ngIf="text.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button (click)="reference.value=''" class="planet-search__button">Search</button>
    </form>
  </div>
  <p class="planet__error">{{errorMsg}}</p>
</section>
