@import "./../../../utils/utils";

.planets {
  width: 100%;
  margin: 7rem 0 2rem;

  &__wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 300px));
    grid-auto-rows: 400px;
    grid-gap: 30px 0;

    .planet {
      height: 100%;
      width: 90%;
      @include planet;

      .planet__name {
        @include planetName;
      }

      &__wrapper {
        @include planetWrapper;

        .planet__periods {
          @include planetDetailsWrapper;

          .planet__rotation-period,
          .planet__orbital-period {
            width: 45%;
            display: flex;
            flex-direction: column;


            p {
              @include textCenter;
              margin: .5rem 0;
            }

            span {
              @include textCenter;
            }
          }
        }

        // Planet periods ends

        .planet__climate,
        .planet__terrain {
          @include flexItemDisplay;
          height: 4rem;

          h4 {
            @include planetDetailsUtil;
            @include textCenter;
          }

          p {
            margin: 0;
            @include textCenter;
          }
        }

        .planet__terrain {
          border-bottom: 2px solid $mainThemeColor;
          padding-bottom: .2rem;
        }

        .planet__population {
          margin-top: .5rem;
          @include flexItemDisplay;

          h4 {
            @include planetDetailsUtil;
            @include textCenter;
          }

          p {
            margin: 0;
            @include textCenter;
          }
        }

        .planet__details-button {
          margin: 1rem auto 0;
          width: 40%;
          @include button;
        }

      }

      //   Planet wrapper ends
    }
  }

}


@media screen and (max-width:1199px) {
  .planets__wrapper {
    grid-template-columns: repeat(3, minmax(200px, 300px));
  }
}

@media screen and (max-width:768px) {
  .planets__wrapper {
    grid-template-columns: repeat(2, minmax(200px, 300px));
  }
}

@media screen and (max-width:576px) {
  .planets__wrapper {
    display: block;
    width: 60%;

    .planet {
      margin: 0 auto 2rem;

      &__wrapper {
        .planet__climate {
          height: 3rem;
        }

        .planet__details-button {
          margin-bottom: 1rem;
        }

      }
    }

    h4,
    p {
      font-size: .875rem;
    }
  }
}

@media screen and (max-width:399px) {
  .planets__wrapper {
    width: 80%;
  }
}
