<section class="planets">
  <app-planet-search (searchPlanet)="searchPlanet($event)" [errorMsg]="errorMsg"></app-planet-search>
  <div class="planets__wrapper">
    <div class="planet" *ngFor="let planet of planets">
      <header class="planet__name">{{ planet.name }}</header>
      <div class="planet__wrapper">
        <div class="planet__periods">
          <div class="planet__rotation-period">
            <p>Rotation<br />Period</p>
            <span>{{ planet.rotation_period }}</span>
          </div>
          <div class="planet__orbital-period">
            <p>
              Orbital<br />
              Period
            </p>
            <span>{{ planet.orbital_period }}</span>
          </div>
        </div>
        <div class="planet__climate">
          <h4>Climate</h4>
          <p>{{ planet.climate | titlecase }}</p>
        </div>
        <div class="planet__terrain">
          <h4>Terrain</h4>
          <p>{{ planet.terrain | titlecase }}</p>
        </div>
        <div class="planet__population">
          <h4>Population</h4>
          <p>{{ planet.population }}</p>
        </div>
        <button class="planet__details-button" routerLink="/planet/{{ planet.name }}">
          More
        </button>
        <button (click)="showPlanets()" *ngIf="!allPlanetsVisible" class="planet__showAllBtn">Show all planets</button>
      </div>
    </div>
  </div>
</section>
