@import "./../../../utils/utils";

.planet {
  height: 60vh;
  width: 50%;
  @include planet;

  &__button--back {
    margin: 7rem auto 0;
    display: block;
    width: 5rem;
    @include button;
  }

  .planet__name {
    @include planetName;
  }

  &__wrapper {
    @include planetWrapper;

    .planet__periods {
      @include planetDetailsWrapper;

      .planet__rotation-period,
      .planet__orbital-period,
      .planet__diameter {
        width: 35%;
        display: flex;
        flex-direction: column;


        p {
          @include textCenter;
          margin: .5rem 0;
        }

        span {
          @include textCenter;
        }
      }
    }

    // Planet periods ends

    .planet__conditions {
      @include planetDetailsWrapper;
      height: 7rem;

      .planet__climate,
      .planet__terrain,
      .planet__gravity,
      .planet__surface-water {
        @include flexItemDisplay;
        height: 100%;
        width: 20%;

        h4 {
          @include planetDetailsUtil;
          @include textCenter;
        }

        p {
          margin: 0;
          @include textCenter;
        }
      }

    }

    //  Planet conditions ends


    .planet__additional-data {
      @include planetDetailsWrapper;
      border-bottom: none;
      padding-bottom: 0;

      .planet__residents,
      .planet__films,
      .planet__population {
        @include flexItemDisplay;
        width: 30%;

        h4 {
          @include planetDetailsUtil;
          @include textCenter;
        }

        p {
          margin: 0;
          @include textCenter;
        }
      }
    }

    // Planet additional data

  }

  //   Planet wrapper ends
}

@media screen and (min-width:1499px) {
  .planet {
    width: 40%;
  }
}

@media screen and (max-width:768px) {
  .planet {
    height: auto;

    &__wrapper {
      .planet__conditions {
        @include mobileBlock;

        .planet__climate,
        .planet__terrain,
        .planet__gravity,
        .planet__surface-water {
          @include mobilePlanetElement;
        }
      }
    }
  }
}

@media screen and (max-width:576px) {
  .planet {
    width: 60%;

    &__wrapper {
      .planet__periods {
        @include mobileBlock;

        .planet__rotation-period,
        .planet__orbital-period,
        .planet__diameter {
          @include mobilePlanetElement;
          margin-bottom: 0;

          p {
            margin: 0;
            font-weight: bold;
            font-size: $mobileFontSize
          }

          span {
            margin-top: .3rem;
            font-size: $mobileFontSize
          }
        }
      }

      .planet__additional-data {
        @include mobileBlock;
        margin-bottom: .5rem;

        .planet__population,
        .planet__residents,
        .planet__films {
          @include mobilePlanetElement;
        }
      }
    }

    h4,
    p {
      font-size: $mobileFontSize;
    }
  }
}

@media screen and(max-width:399px) {
  .planet {
    width: 70%;
  }
}
